*{
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    margin: 0;
}
.grid-wrapper {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 600px;
    width: 600px;
    background-image: url("../images/cartoon-seamless-shiny-blue-water-background-vector-8427523.jpg")
}

.grid div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 10%;
    width: 10%;
    
}

h1 {
    border: 1px solid red;
    text-align: center;
}

.display-containter {
    width: 600px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.buttons-container {
    border: 1px solid red;
} 

.grid div.player {
    background-image: url('../images/boy-scuba-diving-cartoon-colored-clipart-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.grid div.lava {
    background-image: url("../images/lava.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.grid div.beach {
    background-image: url("../images/summer-background-sand-ocean-seaside-600nw-2153338015.webp");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.grid div.coral {
    background-image: url("../images/png-transparent-sticker-wall-decal-anthozoa-child-coral-cartoon-people-flower-coral-thumbnail.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.grid div.shark {
    background-image: url("../images/shark.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#intro-page {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}